[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/xoria256"]
	path = vim/.vim/bundle/xoria256
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/tpope/vim-colors-solarized.git
