[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/unite"]
	path = vim/.vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/.vim/bundle/unite-help"]
	path = vim/.vim/bundle/unite-help
	url = https://github.com/tsukkee/unite-help.git
[submodule "vim/.vim/bundle/vimproc"]
	path = vim/.vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/matchit"]
	path = vim/.vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "vim/.vim/bundle/a"]
	path = vim/.vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/.vim/bundle/vim-latex"]
	path = vim/.vim/bundle/vim-latex
	url = http://git.code.sf.net/p/vim-latex/vim-latex.git
