import org.junit.*;
import static org.junit.Assert.*;

import java.util.*;

public class ${1:`Filename()`} {
	
	@BeforeClass
	public static void oneTimeSetup() {
	}

	@AfterClass
	public static void oneTimeTeardown() {
	}

	@Before
	public void setup() {
	}

	@After
	public void teardown() {
	}
}
